/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Tajawal', sans-serif;
}


/* width */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.select2-dropdown {
    z-index: 9999999999999999!important;
}

.select2 {
    box-shadow: none !important;
    font-size: 0.9em !important;
    color: #fff !important;
    font-weight: 100 !important;
    width: 94.5% !important;
    display: block !important;
    padding: 0.8em !important;
    border: solid 1px black !important;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) !important;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%) !important;
    background-position: -800px 0 !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    color: #fff !important;
    font-family: "Tajawal", sans-serif;
}

.select2-selection__arrow {
    top: 12px !important;
    right: 20px !important;
}

.lastU {
    .select2 {
        box-shadow: none !important;
        font-size: 0.9em !important;
        color: #fff !important;
        font-weight: 100 !important;
        width: 94.5% !important;
        display: block !important;
        padding: 0 !important;
        border: solid 0px black !important;
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) !important;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%) !important;
        background-position: -800px 0 !important;
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        color: #fff !important;
        font-family: "Tajawal", sans-serif;
    }
    .select2-selection__arrow {
        top: 2px !important;
        right: 5px !important;
    }
}

#upd,
#fdgh,
#upd-dd,
#upd-up {
    .select2 {
        box-shadow: none !important;
        font-size: 0.9em !important;
        color: #fff !important;
        font-weight: 100 !important;
        width: 94.5% !important;
        display: block !important;
        padding: 0 !important;
        border: solid 0px white !important;
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) !important;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%) !important;
        background-position: -800px 0 !important;
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        color: #fff !important;
        font-family: "Tajawal", sans-serif;
    }
    .select2-selection__arrow {
        top: 2px !important;
        right: 5px !important;
    }
}

.kkloi {
    .select2 {
        box-shadow: none !important;
        font-size: 0.9em !important;
        color: #fff !important;
        font-weight: 100 !important;
        text-align: center;
        height: 20px;
        display: block !important;
        padding: 0 !important;
        border: solid 0 black !important;
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) !important;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%) !important;
        background-position: -800px 0 !important;
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        color: #fff !important;
        font-family: "Tajawal", sans-serif;
    }
    .select2-selection__arrow {
        top: 2px !important;
        right: 20px !important;
    }
}

#klo {
    .select2 {
        box-shadow: none !important;
        font-size: 0.9em !important;
        color: #fff !important;
        font-weight: 100 !important;
        text-align: center;
        height: 50px;
        display: inline-block !important;
        padding: 0.8em !important;
        border: solid 1px #fff !important;
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) !important;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%) !important;
        background-position: -800px 0 !important;
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        color: #fff !important;
        font-family: "Tajawal", sans-serif;
        width: 65% !important;
    }
}

.se12 {
    .select2 {
        box-shadow: none !important;
        font-size: 0.9em !important;
        color: #fff !important;
        font-weight: 100 !important;
        width: 98.5% !important;
        display: block !important;
        padding: 0.8em !important;
        border: solid 1px black !important;
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) !important;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%) !important;
        background-position: -800px 0 !important;
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        color: #fff !important;
        font-family: "Tajawal", sans-serif;
    }
}
